body {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.header h1 {
    color: rgb(0, 0, 0);
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.stage {
    margin-top: 10px;
    margin-bottom: 10px;
}
.square {
    width: 100px;
    height: 100px;
    background-color: rgb(200, 200, 200);
    border-radius: 8px;
    display: inline-block;
}

.square:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.o {
    position: relative;
}

span.o-icon:before {
    content: '\2B55'; 
    font-size: 30px;
}

.o::after {
    position: absolute;
    line-height: 100px;
    content: '\2B55';
    font-size: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.x {
    position: relative;
}

span.x-icon:before {
    content: '\274C';
    font-size: 30px;
}

.x:after {
    position: absolute;
    line-height: 100px;
    content: '\274C';
    font-size: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.score-board {
    margin-left: 20px;
    width: 150px;
    height: 100px;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgb(180, 180, 180);
}

.icon {
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

#xPlayer, #oPlayer {
    font-size: 30px;
    color: white;
    padding: 2px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .btn-reset, .btn-restart {
    margin-top: 30px;
    width: 300px;
    height: 40px;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    border: none;
    background-color: rgb(150, 250, 30);
    transition: 0.7s;
}

.btn-reset:hover, .btn-restart:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 200, 100);
    font-size: 22px;
    transform: scale(1.1, 1.1);
}
