body {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.square {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border:  2px solid white;
    display: inline-block;
}

.o {
    position: relative;
}

.o::after {
    position: absolute;
    line-height: 100px;
    content: '\2B55';
    font-size: 50px;
    font-size: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    line-height: 100px;
    content: '\274C';
    font-size: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}